.footer {
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 0.2rem;
}

.footer__logo {
    height: 8rem;
    margin-bottom: 0.5rem;
}

.link {
    text-decoration: none;
    color: white;
    outline: none;
}

@media only screen and (max-width: 530px) {}