.footer {
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 0.2rem;
}

.footer__logo {
    height: auto;
    margin-bottom: 0.5rem;
    width: 12rem;
}

.link {
    text-decoration: none;
    color: white;
    outline: none;
}

@media only screen and (max-width: 530px) {}