.service__container {
    margin: 0rem;
}

.service_img_container {
    position: relative;
}

.service_img {
    width: 100%;
    height: 20rem;
}

.service__content {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 1.6rem auto;
}

.serviceoverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.service_content_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 530px) {
    .service_img {
        width: 100%;
        height: 22rem;
    }

    .service__content {
        text-align: justify;
        display: flex;
        width: 90%;
        font-size: 1rem;
    }

    .service__content>h3 {
        text-align: center;
        font-size: 2rem;
    }
}